body {
  min-width: 250px;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.9);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

.btn--generic {
  height: 50px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  width: 220px;
  cursor: pointer;
  box-shadow: 0 2px 8px #a7a7a7;
}

.notice-buttons a {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .notice-buttons a {
    max-width: 400px;
  }
}

.notice-btn {
  display: flex;
  height: 70px;
  align-items: center;
  margin: 10px;
  background-color: rgba(1, 1, 10, 0.03);
  border-radius: 20px;
  text-align: left;
  box-shadow: 0 2px 8px #dadada;
}
.notice-btn__number {
  background-color: #9356DC;
  border-radius: 50px;
  color: white;
  width: 25px;
  text-align: center;
  font-size: 14px;
  padding: 5px 0 3px;
  margin-left: -12px;
}
.notice-btn i {
  margin: 5px 20px 0;
}
.notice-btn svg {
  width: 20px;
  height: 20px;
}
.notice-btn__icon {
  fill: rgb(126, 126, 126);
}
.notice-btn__text {
  font-weight: bold;
}
.notice-btn:hover {
  background-color: #f2eafb;
}
.notice-btn:hover .notice-btn__icon {
  fill: #9356DC;
}

.restaurant-menu__btn-choice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  margin: 15px 0;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 8px #dadada;
}
.restaurant-menu__btn-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant-menu__btn-details h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 5px;
}
.restaurant-menu__btn-details p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.65);
}
.restaurant-menu__btn-price {
  min-width: 40px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
}
.restaurant-menu__btn-price p {
  color: rgba(0, 0, 0, 0.9);
}
.restaurant-menu__btn-validate {
  background-color: #99E2D0;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 0;
  transition: width 500ms;
}
.restaurant-menu__btn-validate svg {
  transition: opacity 300ms;
  width: 20px;
  opacity: 0;
}
.restaurant-menu__btn-validate-icon {
  fill: white;
}

.restaurant-menu__btn-choice:hover .restaurant-menu__btn-validate {
  width: 80px;
}
.restaurant-menu__btn-choice:hover svg {
  opacity: 1;
  animation: icon-roll 400ms 100ms;
}

@keyframes icon-roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(370deg);
  }
}
.restaurant-menu__btn-choice:nth-child(2) {
  animation: slide-effect 1000ms 150ms both;
}
.restaurant-menu__btn-choice:nth-child(3) {
  animation: slide-effect 1000ms 350ms both;
}
.restaurant-menu__btn-choice:nth-child(4) {
  animation: slide-effect 1000ms 550ms both;
}
.restaurant-menu__btn-choice:nth-child(5) {
  animation: slide-effect 1000ms 750ms both;
}

@keyframes slide-effect {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#fill-like-icon-svg path {
  fill: url(#like-icon-gradient);
}

.restaurant-card svg {
  float: right;
  height: 25px;
  width: 25px;
  margin-top: 15px;
  margin-right: 25px;
  filter: rgb(126, 126, 126);
  padding: 0;
}

.restaurant__like-icon {
  position: relative;
}
.restaurant__like-icon:hover > .restaurant__like-icon--filled {
  animation: filling-icon 500ms 100ms forwards;
}
.restaurant__like-icon:hover > .restaurant__like-icon--empty {
  animation: disappearing-empty-icon 500ms 100ms forwards;
}

.restaurant__like-icon--filled {
  position: absolute;
  transform: scale(0);
  transform-origin: 25% bottom;
}

.restaurant-menu__title svg {
  float: right;
  height: 25px;
  width: 25px;
  margin-top: 15px;
  margin-right: 25px;
  filter: rgb(126, 126, 126);
  margin: 0 10px;
  height: 35px;
  cursor: pointer;
}
.restaurant-menu__title .restaurant__like-icon--filled {
  position: absolute;
  right: 0;
  transform-origin: bottom;
}

@keyframes filling-icon {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes disappearing-empty-icon {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.restaurant-card__mention-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90px;
  height: 30px;
  background-color: #99E2D0;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.restaurant-card__mention-new p {
  color: #278870;
}

header {
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: 2px 0 5px #a7a7a7;
}
header svg {
  position: absolute;
  left: 20px;
  top: 25px;
}
header h1 {
  text-align: center;
}
header img {
  width: 150px;
}

.footer {
  background-color: #3f3f3f;
  padding: 20px;
}
.footer__title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: white;
  padding-bottom: 20px;
}
.footer__link {
  line-height: 25px;
}
.footer__link svg {
  filter: white;
  width: 15px;
  height: 15px;
  margin-top: 2px;
  margin-right: 10px;
}
.footer__link .footer__link-icon {
  fill: white;
}
.footer__link a {
  color: white;
}
.footer__link a:hover {
  color: #99E2D0;
}
.footer__link a:hover .footer__link-icon {
  fill: #99E2D0;
}

.search {
  background-color: rgba(1, 1, 10, 0.03);
  text-align: center;
}
.search-location {
  background-color: rgba(1, 1, 10, 0.06);
  padding: 14px 0;
}
.search-location label {
  display: none;
}
.search-location input {
  background-color: transparent;
  border: none;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  width: 150px;
  color: rgba(0, 0, 0, 0.65);
}
.search-reservation {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.search-reservation h2 {
  padding: 15px 0;
}
.search-reservation p {
  padding-bottom: 30px;
  color: rgba(0, 0, 0, 0.65);
}
@media screen and (min-width: 992px) {
  .search-reservation {
    height: 250px;
  }
}

#notice {
  padding: 50px 20px;
}
@media screen and (min-width: 599px) {
  #notice {
    width: 400px;
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  #notice {
    width: 100%;
    text-align: center;
  }
}

.notice-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 10px 10px;
}
@media screen and (min-width: 992px) {
  .notice-buttons {
    flex-direction: row;
    justify-content: space-around;
    max-width: 1500px;
    margin: 0 auto;
  }
}

#restaurants {
  background-color: rgba(1, 1, 10, 0.03);
  padding: 50px 20px;
}
@media screen and (min-width: 992px) {
  #restaurants {
    padding: 40px;
    border-radius: 20px;
    margin: 0 20px 20px;
    box-shadow: 0 2px 8px #dadada;
  }
}
@media screen and (min-width: 992px) {
  #restaurants h2 {
    text-align: center;
  }
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
}
@media screen and (min-width: 599px) {
  .restaurants-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 599px) {
  .restaurants-cards a {
    width: 48%;
  }
}
@media screen and (min-width: 992px) {
  .restaurants-cards a {
    width: 24%;
    max-width: 450px;
  }
}

.restaurant-card {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  height: 250px;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 0 2px 8px #dadada;
}
.restaurant-card:hover {
  transition-duration: 0.2s;
  transform: scale(1.02);
}
.restaurant-card img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.restaurant-card h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant-card figcaption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant-card__title {
  padding: 10px 10px 0;
}
.restaurant-card__location {
  padding: 0 10px 0;
}

main img {
  width: 100%;
}
@media screen and (min-width: 599px) {
  main img {
    height: 400px;
    object-fit: cover;
    object-position: 0 60%;
  }
}

#restaurant-menu {
  position: relative;
  margin-top: -50px;
  background-color: #f8f8f8;
  border-radius: 40px 40px 0 0;
  padding: 30px 20px 80px;
}
#restaurant-menu h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#restaurant-menu h3 {
  font-weight: 200;
  position: relative;
  padding: 10px 0;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.65);
}
#restaurant-menu h3::before, #restaurant-menu h3::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 20px;
}
#restaurant-menu h3::before {
  bottom: 0;
  border-bottom: 3px solid #99E2D0;
}
#restaurant-menu p {
  font-size: 16px;
}
#restaurant-menu span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
}
#restaurant-menu section {
  margin: 25px 0;
}
@media screen and (min-width: 599px) {
  #restaurant-menu section {
    width: 550px;
    margin: 10px auto;
  }
}
#restaurant-menu .restaurant-menu__title {
  display: flex;
  justify-content: space-between;
}
#restaurant-menu .restaurant-menu__btn-order {
  text-align: center;
  margin-top: 50px;
}
#restaurant-menu .restaurant-menu__composition-table {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  #restaurant-menu .restaurant-menu__composition-table {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 992px) {
  #restaurant-menu .restaurant-menu__composition-table section {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
