@import "./utils/variables";
@import "./utils/maps";
@import "./utils/mixins";
@import "./base/base";
@import "./components/buttons";
@import "./components/mentions";
@import "./layout/header";
@import "./layout/footer";
@import "./pages/home";


img {
    width: 200px;
}