footer {
    background-color: $footerColor;
    padding: 20px;
    height: 200px;
}

.footer {
    &__title {
        font-family: $secondaryTypography;
        font-weight: 100;
        font-size: map-get($font-size, title-h4);
        color: white;
        padding-bottom: 20px;
    }

    &__link {
        line-height: 25px;
        svg {
            fill: white;
            width: 15px;
            height: 15px;
            margin-top: 2px;
            margin-right: 10px;
        }

        a {
            color: white;
            font-size: map-get($font-size, size-p);

            &:hover {
                color: $secondary;

                svg {
                    fill: $secondary;
                }
            }
        }
    }

    @include large-devices {
        padding: 40px;
        height: 240px;
    }
}