.footer {
    background-color: $footerColor;
    padding: 20px;
    &__title {
        font-family: 'Shrikhand', sans-serif;
        font-weight: 100;
        font-size: 18px;
        color: white;
        padding-bottom: 20px;
    }
    &__link {
        line-height: 25px;
        svg {
            filter: map-get($icons-color-filter, footer);
            width: 20px;
            margin-right: 10px;
        }
        p {
            color: white;
        }
    }
}