// Boutons génériques ---------------------------------------
.btn--generic {
    height: 50px;
    background: linear-gradient(175deg, $secondary, $primary);
    border : none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    width: 220px;
    cursor: pointer;
    @include buttons-shadow($darkShadow);

    &:hover {
        animation: btn-generic-hover-effect 400ms forwards;
    }
}

@keyframes btn-generic-hover-effect {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0.7;
        width: 210px;
    }
    100% {
        opacity: 1;
        width: 250px;
        color: $black90;
        font-weight: bold;
        background: $tertiary;
        @include buttons-shadow($tertiary);
    }
}


// Accueil : boutons Fonctionnement ---------------------------------------
.notice-buttons {
    a {
        width: 100%;
        @include large-devices {
            max-width: 400px;
        }
    }
}

.notice-btn {
    display: flex;
    height: 70px;
    align-items: center;
    margin: 10px;
    background-color: $lightBackground;
    border-radius: 20px;
    text-align: left;
    @include buttons-shadow;

    &__number {
        background-color: $primary;
        border-radius: 50px;
        color: white;
        width: 25px;
        text-align: center;
        font-size: 14px;
        padding: 5px 0 3px;
        margin-left: -12px;
    }

    i {
        margin: 5px 20px 0;        
    }

    svg {
        width: 20px;
        height: 20px;
    }

    &__icon {
        fill: rgba(126, 126, 126, 1);

    }
    
    &__text {
        font-weight: bold;
    }

    &:hover {
        @include background-hover-color;

        .notice-btn__icon {
            fill: $primary;
        }
    }    
}


// Pages restaurants : boutons Choix ---------------------------------------
.restaurant-menu {
    &__btn-choice {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $neutralBackground;
        margin: 15px 0;
        border-radius: 10px;
        cursor: pointer;
        @include buttons-shadow;
    }
    
    &__btn-details {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
        @include text-overflow;

        h4 {            
            @include text-overflow;
            padding-bottom: 5px;
        }

        p {
            @include text-overflow;
            color: $black65;
        }
    }
    
    &__btn-price {
        min-width: 40px;
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 10px;
        p {
            color: $black90;
        }        
    }

    &__btn-validate {
        background-color: $tertiary;
        border-radius: 0 10px 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 0;
        transition: width 500ms;

        svg {
            transition: opacity 300ms;
            width: 20px;
            opacity: 0;
        }

        &-icon {
            fill: white;
        }
    }
}

// Animation : validation choix ----------------------------
.restaurant-menu__btn-choice:hover {
    .restaurant-menu__btn-validate {
        width: 80px;
    }

    svg {
        opacity: 1;
        animation: icon-roll 400ms 100ms;
    }
}

@keyframes icon-roll {
    0% { transform: rotate(0); }
    100% { transform: rotate(370deg); }
}


// Animation : slide-effect boutons Choix ----------------------------
.restaurant-menu__btn-choice {
    &:nth-child(2) { animation: slide-effect $anim-restaurant-choice-duration 150ms both; }
    &:nth-child(3) { animation: slide-effect $anim-restaurant-choice-duration 350ms both; }
    &:nth-child(4) { animation: slide-effect $anim-restaurant-choice-duration 550ms both; }
    &:nth-child(5) { animation: slide-effect $anim-restaurant-choice-duration 750ms both; }
}

@keyframes slide-effect {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


// Animation : Like-icons ----------------------------
.fill-like-icon-svg path {
    fill: url(#like-icon-gradient);
}

.restaurant-card {
    svg {
        @include like-icon;
        padding: 0;
    }
}

.restaurant__like-icon {
    position: relative;

    &:hover > .restaurant__like-icon--filled {
        animation: filling-icon 500ms 100ms forwards;
    }

    &:hover > .restaurant__like-icon--empty {
        animation: disappearing-empty-icon 500ms 100ms forwards;
    }
}

.restaurant__like-icon--filled {
    position: absolute;
    transform: scale(0);
    transform-origin: 25% bottom;
}

.restaurant-menu__title {
    svg {
        @include like-icon;
        margin: 0 10px;
        height: 35px;
        cursor: pointer;
    }

    .restaurant__like-icon--filled {
        position: absolute;
        right: 0;
        transform-origin: bottom;
    }
}


@keyframes filling-icon {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}

@keyframes disappearing-empty-icon {
	0% { opacity: 1; }    
    80% { opacity: 1; }
	100% { opacity: 0; }
}