.btn--generic {
    height: 50px;
    background: linear-gradient(175deg, $secondary, $primary);
    border : none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    width: 220px;
    cursor: pointer;
    @include buttons-shadow($darkShadow);
}

.notice-btn {
    display: flex;
    height: 70px;
    align-items: center;
    margin: 10px 0;
    background-color: $lightBackground;
    border-radius: 20px;
    @include buttons-shadow;
    &__number {
        background-color: $primary;
        border-radius: 50px;
        color: white;
        width: 25px;
        text-align: center;
        font-size: 14px;
        padding: 5px 0 3px;
        margin-left: -12px;
    }
    svg {
        margin: 0 16px;
    }
    &__text {
        font-weight: bold;
    }
}
