// Boutons génériques ---------------------------------------
.btn--generic {
    height: 50px;
    background: linear-gradient(175deg, $secondary, $primary);
    border : none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    width: 220px;
    cursor: pointer;
    @include buttons-shadow($darkShadow);
}


// Accueil : boutons Fonctionnement ---------------------------------------
.notice-buttons {
    a {
        width: 100%;
        @include large-devices {
            max-width: 400px;
        }
    }
}

.notice-btn {
    display: flex;
    height: 70px;
    align-items: center;
    margin: 10px;
    background-color: $lightBackground;
    border-radius: 20px;
    text-align: left;
    @include buttons-shadow;

    &__number {
        background-color: $primary;
        border-radius: 50px;
        color: white;
        width: 25px;
        text-align: center;
        font-size: 14px;
        padding: 5px 0 3px;
        margin-left: -12px;
    }

    i {
        margin: 5px 20px 0;        
    }

    svg {
        width: 20px;
        height: 20px;
    }

    &__icon {
        fill: map-get($icons-color-filter, home);
    }
    
    &__text {
        font-weight: bold;
    }

    &:hover {
        @include background-hover-color;

        .notice-btn__icon {
            fill: $primary;
        }
    }
}


// Pages restaurants : boutons Choix ---------------------------------------
.restaurant-menu {
    &__btn-choice {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $neutralBackground;
        margin: 15px 0;
        border-radius: 10px;
        cursor: pointer;
        @include buttons-shadow;
    }
    
    &__btn-details {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
        @include text-overflow;

        h4 {            
            @include text-overflow;
            padding-bottom: 5px;
        }

        p {
            @include text-overflow;
            color: $black65;
        }
    }
    
    &__btn-price {
        min-width: 40px;
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 10px;
        p {
            color: $black90;
        }        
    }

    &__btn-validate {
        min-width: 60px;
        background-color: $tertiary;
        border-radius: 0 10px 10px 0;
        display: none;
        flex-direction: column;
        justify-content: center;

        svg {
            width: 20px;
        }

        &-icon {
            fill: white;
        }
    }
}
