.btn--generic {
    height: 50px;
    background: linear-gradient(175deg, $secondary, $primary);
    border : none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    width: 220px;
    cursor: pointer;
    @include buttons-shadow($darkShadow);
}

.notice-btn {
    display: flex;
    height: 70px;
    align-items: center;
    margin: 10px 0;
    background-color: $lightBackground;
    border-radius: 20px;
    @include buttons-shadow;
    &__number {
        background-color: $primary;
        border-radius: 50px;
        color: white;
        width: 25px;
        text-align: center;
        font-size: 14px;
        padding: 5px 0 3px;
        margin-left: -12px;
    }
    i {
        margin: 0 16px;
        color: white;
    }
    &__text {
        font-weight: bold;
    }
}

.restaurant-menu {
    &__btn-choice {
        background-color: $neutralBackground;
        margin: 15px 0;
        border-radius: 10px;
        @include buttons-shadow;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    &__btn-details {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;

        h4 {
            padding-bottom: 5px;
        }

        span {
            float: right;
        }
    }
    
    &__btn-validate {
        width: 60px;
        background-color: $tertiary;
        border-radius: 0 10px 10px 0;
        display: none;
        flex-direction: column;
        justify-content: center;
        svg {
            filter: map-get($icons-color-filter, footer);
            font-size: 20px;
        }
    }
}
