// Boutons génériques ---------------------------------------
.btn--generic {
    height: 50px;
    background: linear-gradient(175deg, $secondary, $primary);
    border : none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    width: 220px;
    cursor: pointer;
    @include buttons-shadow($darkShadow);
}


// Accueil : boutons Fonctionnement ---------------------------------------
.notice-buttons {
    a {
        width: 100%;
        @include large-devices {
            max-width: 400px;
        }
    }
}

.notice-btn {
    display: flex;
    height: 70px;
    align-items: center;
    margin: 10px;
    background-color: $lightBackground;
    border-radius: 20px;
    text-align: left;
    @include buttons-shadow;

    &__number {
        background-color: $primary;
        border-radius: 50px;
        color: white;
        width: 25px;
        text-align: center;
        font-size: 14px;
        padding: 5px 0 3px;
        margin-left: -12px;
    }

    i {
        margin: 5px 20px 0;        
    }

    svg {
        width: 20px;
        height: 20px;
    }

    &__icon {
        fill: map-get($icons-color-filter, home);
    }
    
    &__text {
        font-weight: bold;
    }

    &:hover {
        @include background-hover-color;

        .notice-btn__icon {
            fill: $primary;
        }
    }    
}


// Pages restaurants : boutons Choix ---------------------------------------
.restaurant-menu {
    &__btn-choice {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $neutralBackground;
        margin: 15px 0;
        border-radius: 10px;
        cursor: pointer;
        @include buttons-shadow;
    }
    
    &__btn-details {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
        @include text-overflow;

        h4 {            
            @include text-overflow;
            padding-bottom: 5px;
        }

        p {
            @include text-overflow;
            color: $black65;
        }
    }
    
    &__btn-price {
        min-width: 40px;
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 10px;
        p {
            color: $black90;
        }        
    }

    &__btn-validate {
        background-color: $tertiary;
        border-radius: 0 10px 10px 0;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        svg {
            width: 20px;
        }

        &-icon {
            fill: white;
        }
    }

}

// Animation : slide-effect boutons Choix ----------------------------
.restaurant-menu__btn-choice {
    &:nth-child(2) {
        animation: slide-effect $anim-restaurant-choice-duration 150ms both;
    }

    &:nth-child(3) {
        animation: slide-effect $anim-restaurant-choice-duration 350ms both;
    }

    &:nth-child(4) {
        animation: slide-effect $anim-restaurant-choice-duration 550ms both;
    }

    &:nth-child(5) {
        animation: slide-effect $anim-restaurant-choice-duration 750ms both;
    }
}

@keyframes slide-effect {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

// Animation : icon-roll pour validation choix ----------------------------
.restaurant-menu__btn-choice {
    .restaurant-menu__btn-validate  {
    animation: disappearing-validate 500ms forwards;
    }
}

.restaurant-menu__btn-choice:hover {
    .restaurant-menu__btn-validate  {
    display: flex;
    animation: appearing-validate 500ms ease forwards;
    }

    svg {
        animation: icon-roll 400ms 100ms;
    }
}

@keyframes appearing-validate {
    0% { width: 0px; }
    100% { width: 80px; }
}

@keyframes disappearing-validate {
    0% { width: 80px; }
    100% { width: 0px; }
}

@keyframes icon-roll {
    0% { transform: rotate(0); }
    100% { transform: rotate(370deg); }
}

// Like-icons ----------------------------
.restaurant-card__like-icon {
    position: relative;
}

.restaurant-card__like-icon--empty {
    padding: 5px 0;
}

.restaurant-card__like-icon--filled {    
    background: yellow;
    background-clip: text;
    path {
        color: red;
    }
}

.fa-heart:hover {
    font-weight: bold;
    background: linear-gradient(0deg, $secondary, $primary);
    // path {
    //     color: transparent;
    // }
	background-clip: text;
    animation: like-icon-filling 1000ms 0ms both;
}

@keyframes like-icon-filling {
	0% {
	background: linear-gradient(0deg, $secondary, $primary, white 0%);
	}
  
	10% {
	background: linear-gradient(0deg, $secondary, $primary 10%, white 10%);
    }
  
	20% {
	background: linear-gradient(0deg, $secondary, $primary 20%, white 20%);
	}

    30% {
    background: linear-gradient(0deg, $secondary, $primary 30%, white 30%);
    }

    40% {
	background: linear-gradient(0deg, $secondary, $primary 40%, white 40%);
	}

    50% {
    background: linear-gradient(0deg, $secondary, $primary 50%, white 50%);
    }   

    60% {
    background: linear-gradient(0deg, $secondary, $primary 60%, white 60%);
    }
    
    70% {
    background: linear-gradient(0deg, $secondary, $primary 70%, white 70%);
    }

    80% {
    background: linear-gradient(0deg, $secondary, $primary 80%, white 80%);
    }

    90% {
    background: linear-gradient(0deg, $secondary, $primary 90%, white 90%);
    }

    100% {
    background: linear-gradient(0deg, $secondary, $primary 100%, white 100%);
    }
}

// .restaurant-card__like-icon {
// 	position: relative;
// }
  
// .fa-heart {
//     position: absolute;
//     right: 20px;
//     bottom: 33px;
//     font-size: 28px;
// }

// .restaurant-card__like-icon--filled {
//     display: none;
// }

// .fa-heart:hover {
//     font-weight: bold;
//     background: linear-gradient(to bottom right, #FF79DA, #9356DC);
//     color: transparent;
//     background-clip: text;
//     animation: heart 1s 0s ease-out both;
//     -webkit-animation: heart 1s 0s ease-out both;
//     -webkit-background-clip: text;
//     -webkit-text-stroke: unset;
// }

// /*animation coeur*/
// @keyframes heart {
// 0% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 0%, white 0%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 10% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 10%, white 10%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 20% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 20%, white 20%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 30% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 30%, white 30%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 40% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 40%, white 40%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 50% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 50%, white 50%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 60% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 60%, white 60%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 70% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 70%, white 70%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 80% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 80%, white 80%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 90% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 90%, white 90%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 100% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 100%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }
// }

// @-webkit-keyframes heart {
// 0% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 0%, white 0%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 10% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 10%, white 10%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 20% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 20%, white 20%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 30% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 30%, white 30%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 40% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 40%, white 40%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 50% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 50%, white 50%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 60% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 60%, white 60%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 70% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 70%, white 70%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 80% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 80%, white 80%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 90% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 90%, white 90%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }

// 100% {
//     background: linear-gradient(0deg, #FF79DA, #9356DC 100%);
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
// }
// }