.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: $black65;
    animation: loading-screen 3000ms 50ms forwards;
}

@keyframes loading-screen {
    0% { opacity: 1; }
    99% { opacity: 1; }
    100% {
        opacity: 0;
        z-index: -1;
    }
}


.loading-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    width: 400px;
    height: 240px;
    background: $lightBackgroundOpac;
    border-radius: 20px;
    box-shadow: 0 0 5px white;

    p {
        font-family: "Shrikhand", sans-serif;
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }

    .loading-spinner {
        display: flex;
        justify-content: center;
        margin: 60px auto 0;
    
        &__dot {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        margin: 0 10px;          

            &--1 {
                background-color: $primary;
                animation: spinner-anim 1000ms infinite;
            }

            &--2 {
                background-color: $secondary;
                animation: spinner-anim 1000ms 250ms infinite;
            }

            &--3 {
                background-color: $tertiary;
                animation: spinner-anim 1000ms 500ms infinite;
            }
        }
    }
}

@keyframes spinner-anim {
    0% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    30% {
        transform: translateY(-30px);
        animation-timing-function: ease-in;
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
