body {
    min-width: 250px;
}

* {
    font-family: $mainTypography;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $black90;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

h2 {
    font-size: map-get($font-size, title-h2);
}

h3 {
    font-size: map-get($font-size, title-h3);
}

h4 {
    font-size: map-get($font-size, title-h4);
}

p {
    font-size: map-get($font-size, size-p);
}