.search {
    background-color: $lightBackground;
    text-align: center;
    &-location {
        background-color: $darkBackground;
        padding: 14px 0;
        label {
            display: none;
        }      
        input {
            background-color: transparent;
            border: none;
            font-weight: bold;
            text-align: center;
            font-size: 16px;
            width: 150px;
            color: $black65;
        }
    }
    &-reservation {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        h2 {
            padding: 15px 0;
        }
        p {
            padding-bottom: 30px;
            color: $black65;
        }
        @include large-devices {
            height: 250px;
        }
    }
}

#notice {
    padding: $paddingSections;
    @include medium-devices {
        width: 400px;
        text-align: center;
        margin: 0 auto;
    }
    
    @include large-devices {
        width: 100%;
        text-align: center;
    }
}

.notice-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 10px 10px;

    @include large-devices {
        flex-direction: row;
        justify-content: space-around;
        max-width: 1500px;
        margin: 0 auto;
    }
}

#restaurants {
    background-color: $lightBackground;
    padding: $paddingSections;
    @include large-devices {        
        padding: 40px;
        border-radius: 20px;
        margin: 0 20px 20px;
        box-shadow: 0 2px 8px $lightShadow;
    }

    h2 {
        @include large-devices {
            text-align: center;
        }
    }
}

.restaurants-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    @include medium-devices {
        flex-direction: row;
        flex-wrap: wrap;
    }

    a {
        @include medium-devices {
            width: 48%;
        }
        @include large-devices {
            width: 24%;
            max-width: 450px;
        }
    }
}

.restaurant-card {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    height: 250px;
    margin-bottom: 15px;
    position: relative;
    @include buttons-shadow;

    &:hover {
        transition-duration: 0.2s;
        transform: scale(1.02);
    }

    img {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    svg {
        @include like-icon;        
        margin-right: 25px;
        @include large-devices {
            margin-right: 15px;
        }
    }

    &__title {
        padding: 10px 10px 0;
    }

    &__location {
        padding: 0 10px 0;
    }
}