.search {
    background-color: $lightBackground;
    text-align: center;
    &-location {
        background-color: $darkBackground;
        padding: 14px 0;
        label {
            display: none;
        }
        input {
            background-color: $darkBackground;
            border: none;
            font-weight: bold;
            text-align: center;
            font-size: 16px;
            width: 150px;
            color: $black65;
        }
    }
    &-reservation {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        h2 {
            padding: 15px 0;
        }
        p {
            padding-bottom: 30px;
            color: $black65;
        }
    }
}

#notice {
    padding: $paddingSections;
}

.notice-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 10px 10px;
    a {
        width: 100%;
    }
}

#restaurants {
    background-color: $lightBackground;
    padding: $paddingSections;
}