main {
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        @include medium-devices {
            height: 400px;
            object-fit: cover;
            object-position: 0 60%;
        }
    }
}

#restaurant-menu {
    position: relative;
    margin-top: -50px;
    background-color: $lightBackgroundOpac;
    border-radius: 40px 40px 0 0;
    padding: 30px 20px 80px;

    @include medium-devices {
        border-radius: 0px;
    }

    @include large-devices {
        padding: map-get($padding-sections, large-devices);
    }

    h2 {
        font-family: $secondaryTypography;
        font-weight: 400;
        font-size: 28px;

        @include large-devices {
            margin-bottom: 20px;
        }
    }

    h3 {
        font-weight: 200;
        position: relative;
        padding: 10px 0;
        margin-bottom: 10px;
        color: $black65;
    
        &::before, &::after {
            position: absolute;
            content: '';
            width: 50px;
            height: 20px;
        }
        
        &::before {
            bottom:0;
            border-bottom:3px solid $tertiary;
        }

        @include large-devices {
            margin-bottom: 30px;
        }
    }

    p {
        font-size: map-get($font-size, size-p);
    }

    span {
        font-size: map-get($font-size, size-p);
        color: $black90;
        font-weight: bold;
    }

    section {
        margin: 25px 0;

        @include medium-devices {
            width: 550px;
            margin: 10px auto;
        }

        @include large-devices {
            margin: 0;
        }
    }

    .restaurant-menu {
        &__title {
            display: flex;
            justify-content: space-between;

            @include medium-devices {
                margin: 20px 0;
            }
        }

        &__btn-order {
            text-align: center;
            margin-top: 50px;

            @include large-devices {
                margin: 70px 0;
            }
        }
    
        &__composition-table {
            display: flex;
            flex-direction: column;
            @include large-devices {
                flex-direction: row;
                justify-content: space-between;
            }

            section {
                @include large-devices {
                    width: 30%;
                }
            }
        }
    }    
}



