@mixin medium-devices {
    @media screen and (min-width: map-get($breakpoints, medium-devices)) {
        @content;
    }
}

@mixin large-devices {
    @media screen and (min-width: map-get($breakpoints, large-devices)) {
        @content;
    }
}

@mixin buttons-shadow($shadowScope: 8px, $shadowColor: $lightShadow) {
    box-shadow: 0 2px $shadowScope $shadowColor;
}

@mixin like-icon() {
    float: right;
    height: 25px;
    width: 25px;
    margin-top: 15px;
    margin-right: 25px;
}

@mixin text-overflow() {    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin background-hover-color($color: $primary) {
    @if (lightness($color) < 70%) {
        $color: lighten($color, 35%);
    } @else {
        $color: darken($color, 10%);
    }
    background-color: $color;
}