@mixin medium-devices {
    @media screen and (min-width: map-get($breakpoints, medium-devices)) {
        @content;
    }
}

@mixin large-devices {
    @media screen and (min-width: map-get($breakpoints, large-devices)) {
        @content;
    }
}

@mixin buttons-shadow($shadowColor : $lightShadow) {
    box-shadow: 0 2px 8px $shadowColor;
}

@mixin like-icon() {
    float: right;
    height: 50px;
    width: 25px;
    filter: map-get($icons-color-filter, home);
}