$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

$footerColor: #3f3f3f;

$neutralBackground: rgba(255, 255, 255, 1);
$lightBackground: rgba(1, 1, 10, 0.03);
$lightBackgroundOpac: #f8f8f8;
$darkBackground: rgba(1, 1, 10, 0.06);

$lightShadow: #dadada;
$darkShadow: #a7a7a7;

$black90 : rgba(0, 0, 0, 0.90);
$black65 : rgba(0, 0, 0, 0.65);
$black30 : rgba(0, 0, 0, 0.30);

$paddingSections : 50px 20px;

$mainTypography: 'Roboto', sans-serif;
$secondaryTypography: 'Shrikhand', sans-serif;

$anim-restaurant-choice-duration: 1000ms;
$anim-restaurant-choice-fill: both;